{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-new-func": 0,
    "no-console": 0,
    "no-var": 1,
    "new-cap": 0
  },
  "env": {
    "es6": true
  }
}
